# Xcode / Swift
DerivedData/
build/
*.xcuserdatad
*.xccheckout
*.moved-aside
*.xcscmblueprint
.xcworkspace/xcuserdata/
# SwiftPM
.build/
# Fastlane (if you add later)
fastlane/report.xml
fastlane/test_output/
